body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(135, 135,135);
    font-size: 34px;
    font-weight: 700;
    line-height: 28px;
}
 h2 {
    color: rgb(135, 135,135);
    font-size: 14px;
    font-weight: 10;
    line-height: 2.2;
    margin-top: 0;
}
 
ul {
    margin: 0;
    padding: 0;
}

li {
color: rgb(135, 135,135);
font-size: 16px;
font-weight: 100;
height: 19px;
line-height: 1;
list-style: none;
text-transform: capitalize;
}

.weather-app {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
}

#weather-icon {
    height: 64px;
    width: 64px;
    margin-right: 10px;
    vertical-align: bottom;
}



.temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
    vertical-align: bottom;
}

.temperature .units {
   vertical-align: top;
   cursor: pointer;
   position: relative;
   font-size: 16px;
   text-decoration: none;

      
}

.temperature .units .active  {
    color: black;
    cursor:default;
    text-decoration: none;
}

.temperature .units .active:hoover {
    color: black;
    cursor:default;
    text-decoration: none;
}

.temperature .units .inactive  {
    text-decoration: none;
}

.temperature .units .inactive:hoover  {
    text-decoration: none;
}

.github-link {
    text-align: center;
    cursor: pointer;    
}